*{ margin:0px auto;}
a{
    text-decoration: none;
    color: inherit;
}
.main{
    width: 100vw;
    height: auto;
    background-color: #e5ffb4;
}


.header{
    width: 100%;
    height: 6vw;
    background-color: #fff;
}
.header>a>img{
    height: 4.2vw;
    width: 30vw;
    margin-left: 1vw;
    margin-top: 1vw;
}
.header>p{
    text-shadow: 2 2 2px black;
    font-size: 2vw;
    color: rgb(0, 0, 0);
    text-align: right;
	margin-right: 2vw;
	line-height: 5.5vw;
}




.elements{
    position: fixed;
    top: 50%;
    width: 10vw;
    height: auto;
}
.element_1{
    width: 100%;
    height: auto;
    background-color: gray;
    border-radius: 5px;
    margin: 3px;
}
.element_1 > p{
    font-size: 1.5vw;
	text-align: center;
	color: #fff;
	line-height: 3.2vw;
}

.footer{
    width: 100%;
    background-color: rgba(50,50,50,0.5);
}
.shide{
    text-align: center;
    color: #fff;

}
.bshow{
    text-align: center;
    color: #fff;
}



#nav{
    width: 90vw;
    height: auto;
    background-color: #e5ffb4;
    margin-left: 13vw;
    margin-right: auto;
}
.nav_img{
	width: 93%;
	height: 30vw;
	margin-bottom: 1em;
}

.main_img{
	width: 100%;
	height: 100%;
}
.nav_1{
    width: 93%;
    height: 15vw;
    margin-right: 3%; 
    margin-bottom: 20px;
    background-color: bisque;
    box-shadow: 4px 3px 5px #88888871;
    text-decoration: none;
}





.head_img{
    width: 100%;
    height: 100%;

}
.head_img > img{
    width: 100%;
    height: 100%;
}


*{
	margin: 0;
	padding: 0;
}


.box{
	margin-top: 5.556vw;
	width: 100%;
	height: 23.61vw;

	position: relative;
}

.list{
	width:83.33vw;
	height:20.833vw;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -41.667vw;
}

.btn{
	position: absolute;
	top: 50%;
	margin-top: -3.472vw;
	width: 4.167vw;
	height: 6.944vw;
	line-height: 6.944vw;
	font-size: 2.08vw;
	color: white;
	text-decoration: none;
	text-align: center;
	background: rgba(0,255,0,.5);
	cursor: pointer;
}
.next{
	right: 0;
}

li{
	position: absolute;
	top: 0;
	left: 0;
	list-style: none;
	opacity: 0;
	transition: all 0.3s ease-out;
}
img{
	width: 52.153vw;
	height: 20.833vw;
	border:none;
	float: left;
}
.p1{
	transform:translate3d(-15.556vw,0,0) scale(0.81);
}
.p2{
	transform:translate3d(0px,0,0) scale(0.81);
	transform-origin:0 50%;
	opacity: 0.8;
	z-index: 2;
}
.p3{
	transform:translate3d(15.556vw,0,0) scale(1);
	z-index: 3;
	opacity: 1;
}
.p4{
	transform:translate3d(31.18vw,0,0) scale(0.81);
	transform-origin:100% 50%;
	opacity: 0.8;
	z-index: 2;
}
.p5{
	transform:translate3d(46.667vw,0,0) scale(0.81);
}
.p6{
	transform:translate3d(62.223vw,0,0) scale(0.81);
}
.p7{
	transform:translate3d(77.777vw,0,0) scale(0.81);
}

.buttons{
	position: absolute;
	width: 83.333vw;
	height: 2.08vw;
	bottom: 0;
	left: 50%;
	margin-left: -41.667vw;
	text-align: center;
	padding-top: 0.693vw;
}
.buttons a{
	display: inline-block;
	width: 2.43vw;
	height: 0.347vw;
	padding-top: 0.28vw;
	cursor: pointer;
}
span{
	display: block;
	width: 2.43vw;
	height: 0.0693vw;
	background: red;
}
.blue{
	background: blue;
}