body {
    margin: 0;/* 设置外边距属性。 */padding: 0;  /* 设置内边距属性 */ 
    font-family: sans-serif;  /* 无衬线体（Sans-serif），有衬线体（Serif） */
    text-align:center;/* 所有文本居中 */font-weight: 600;/* 字体粗细 */color: white;/* 字体颜色 */    
    position: relative;
    /* background: white;
    background-image:linear-gradient(90deg,rgba(200,0,0,.5) 50%, transparent 0),linear-gradient(rgba(200,0,0,.5) 50%, transparent 0); */
    background-size: 50px 50px;

}

#app {
    width: 100vw;height: 100%; /* 使网页全屏的独门秘籍 */
    cursor: pointer;/* 规定要显示的光标的形状为手指那个哈哈哈 */ 
    background-color:rgba(206, 58, 58, 0.849) ;

 }



#section1 {color: #fff; background-color: #1E88E5;}
#section2 {color: #fff; background-color: #673ab7;}
#section3 {color: #fff; background-color: #ff9800;}
#section4 {color: #fff; background-color: #00bcd4;}
#section5 {color: #fff; background-color: #009688;}


img {
    border-radius: 10px; 
    -webkit-animation: fadeLeftInC 3s ease;
    -webkit-animation-delay:  3s ease;
    animation: fadeLeftInC 3s ease;
    animation-delay: 3s ease;
}

h1 {
  -webkit-animation: fadeLeftInA 3s ease;
  -webkit-animation-delay:  3s ease;
  animation: fadeLeftInA 3s ease;
  animation-delay: 3s ease;
}

p {
  -webkit-animation: fadeLeftInB 4s ease;
  -webkit-animation-delay:  4s ease;
  animation: fadeLeftInB 4s ease;
  animation-delay: 4s ease;
}

[v-cloak] {
  display: none; 
  /* 隐藏！解决闪烁问题 */
}

.el-header{
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.445)  /* 字体阴影 */ 
}

.el-main {
        height: auto;
        text-align: center;
        line-height: 50px; /* 行高 */ 
        letter-spacing: 10px;/* 字符间距 */
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473)  /* 字体阴影 */ 
  }

.el-footer {
    text-align: center;
    font-size: 12px;
    letter-spacing: 3px;/* 字符间距 */
    line-height: 12px ;/* 行高 */ 
    font-weight: 600;/* 字体粗细 */color: white;
  }

.el-pagination{
    text-shadow: 5px 5px 5px rgba(172, 216, 236, 0.322)  /* 字体阴影 */   
}

.footer{
    background: rgba(68, 64, 64, 0.404);
  
}
  
body > .el-container {
    margin-bottom: 100px;
}

.el-carousel__item h3 {
    color: #3880ddaf;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  } 
  .el-carousel__item:nth-child(2n) {
    background-color: #444444;
  } 
  .el-carousel__item:nth-child(2n+1) {
    background-color: #a5a5a58e;
  }
  
@-webkit-keyframes fadeLeftInA {
    0% {
        -webkit-transform: translateX(-500px);
                transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeLeftInA {
    0% {
        -webkit-transform: translateX(-500px);
                transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeLeftInB {
    0% {
        -webkit-transform: translateX(500px);
                transform: translateX(500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeLeftInB {
    0% {
        -webkit-transform: translateX(500px);
                transform: translateX(500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeLeftInC {
    0% {
        -webkit-transform: translateY(-300px);
                transform: translateY(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeLeftInC {
    0% {
        -webkit-transform: translateY(-300px);
                transform: translateY(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

