@media screen and (min-width:1000px){
	#main{
		width: 70%;
		margin:0 auto;
	}
	.link{
	    width: 49%;
	    height: 160px;
	    float: left;
	    background-color: #deddaf;
	    margin:10px auto;
    }
    .divv{
   	width: 2%;
    height: 100px;
    float: left;
    margin:10px auto;
    }
}
@media screen and (min-width:700px) and (max-width:1000px){
	#main{
		width: 85%;
		margin:0 auto;
	}
	.link{
		margin:10px auto;
    	width: 100%;
    	padding-bottom : 20%;
    	float: left;
    	background-color: #deddaf;
    }
}
@media screen and (max-width:700px){
	#main{
		width: 100%;
	}
	.link{
	margin:10px auto;
	width: 100%;
	padding-bottom : 28%;
	float: left;
	background-color: #deddaf;
    }
}

#links{
	margin:10px auto;
	width: 100%;
    float: left;
}
.imgs{
	position: relative;
	float: left;
	width: 180px;
	height: 140px;
	background-color: white;
}
    .divs{
   	width: 2%;
    height: 100px;
    float: left;
    margin:10px auto;
    }
img{
	width: 100%;
	height: 100%;
}
a{

	font-size: 1.3em;
	color: black;
}